@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <a class="btn btn-default" asp-controller="Api" asp-action="StartCounter">Start Counter</a>
    <a class="btn btn-default" asp-controller="Api" asp-action="StopCounter">Stop Counter</a>
    <a class="btn btn-default" asp-controller="Api" asp-action="ShowData" asp-route-date="04/27/1991">Show Data</a>
</div>